PORT=5000
MONGO_URI=mongodb://localhost:27017/your_db_name
JWT_SECRET=your_jwt_secret_key
MERCADO_PAGO_ACCESS_TOKEN=your_mercado_pago_access_token_here
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_here
PAYPAL_PLAN_ID=your_paypal_subscription_plan_id_here
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
